# This file may be used to create an environment using:
# conda create --name <env> --file <this file>
# pip install -r requirements.txt

# torch==1.12.1
# torchaudio==0.12.1
# torchvision==0.13.1
numpy==1.23.1
pandas==1.4.3
scipy==1.9.0
tqdm==4.64.0
wandb==0.13
sklearn==0.0